<html>
    <body>
        <h1>Password reset request</h1>
        <p>Hi {{name}},</p><br>
        <p>you have requested a password reset.</p>
        <p>Click on <a href='{{link}}'> this link </a> to reset password or paste the following url into a web browser. </p>
        <p>{{link}}</p>
    </body>
    
</html>
