{% extends "master.html.twig" %}

{% block title %} Internal Error {% endblock %}

{% block content %}
    <h1>Internal error</h1>
        <p>We are very sory, we failed to fulfill your request. Our team o coing has already been contacted </p>
        <p><a href="/">Click to continue</a></p>
{% endblock %}