{% extends "master.html.twig" %}

{% block title %} E-Shop{% endblock %}

{% block content %}
    <h1>Welcome to e-shop</h1>
    {% if user %}
        <p>Hello {{user.name}} ({{user.email}}). </p>
        <p>You may <a href="/logout">Logout</a></p>
        {% else %}
        <p>You may <a href="/login">Login</a> or <a href="/register">Register</a></p>    
    {% endif %}
    {% for product in productList %}
        <hr>
        <h3>{{product.name}}</h3>
        <img src="/images/{{product.imagePath}}">
        <p>{{product.description}}</p>
        <p>Price per unit {{product.price}}</p>

    <form method="POST" action="/cart">
        <input type="hidden" name="productID" value="{{product.ID}}">
        Ad to cart <input type="number"value="1" style="width:30px;" name="quantity">
        <input type="submit" value="Add o cart">
                          
    </form>
            {% endfor %}
{% endblock %}