<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles.css" />
        <title>{% block title %}{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="centerContent">
            <a href="/cart"> View Cart </a>
            <div id="content">{% block content %}{% endblock %}</div>
            <div id="footer">                
                    &copy; Copyright 2016 by <a href="http://domain.invalid/">you</a>.
            </div>
        </div>
    </body>
</html>