{% extends "master.html.twig" %}

{% block head %}
    
{% endblock %}

{% block title %}Cart{% endblock %}

{% block content %}
    <p>Total value before tax is {{totalBeforeTax}}</p>
    <p>Shipping before tax is {{shippingBeforeTax}}</p>
    <p>Taxes {{taxes}}</p>
    <p>Final total with shipping and taxes<b> {{totalWithShippingAndTaxes}}</b></p>
    <form method = "POST">
        Name: <input type="text" name="name" value="{{sessionUser.name}}"><br>
        Address: <input type="text" name="address" value="{{sessionUser.address}}"><br>
        Postal Code: <input type="text" name="postalCode" value="{{sessionUser.postalCode}}"><br>
        Email: <input type="email" name="email" value="{{sessionUser.email}}"><br>
        Phone Number: <input type="text" name="phoneNumber" value="{{sessionUser.phoneNumber}}"><br>
        <p><u>TODO: pyement information</u></p>
        <input type="submit" value="Place order">
          </form>
        <a href="/order"> Place Order </a>
{% endblock %}