{% extends "master.html.twig" %}

{% block title %} Password reset {% endblock %}

{% block content %}
    <h1>Password Reset -email sent</h1>
    {% if error %}
        <p><b>We couldn't find email you provided in our system. try again or register a new account</b></p>
    {% endif %}
    <form method="POST">
    Email: <input type="email" name="email"><br><br>
    Password: <input type="password" name="password"><br><br>
    <input type ="submit" value="Request password reset"> 
{% endblock %}