{% extends "master.html.twig" %}

{% block title %} Register Success {% endblock %}

{% block content %}

    <p>You succesfully registered.</p><br>
    <a href="/login">Click to login</a>
{% endblock %}
