{% extends "master.html.twig" %}

{% block title %} Register User {% endblock %}
{% block head %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script> 
        $(document).ready(function(){
            $('input[name=email]').keyup(function(){
               $('#result').load('/emailexists/'+$(this).val());
            });
        });
    </script>
    {% endblock %}
{% block content %}
    <h1>Register User</h1>
{% if errorList %}
    <ul>
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}   
    </ul>
{% endif %}
    <form method="POST">
    Name: <input type="text" name="name" value="{{v.name}}"><br><br>
    Email: <input type="email" name="email" value="{{v.email}}"><span id="result"></span><br><br>
    Password: <input type="password" name="pass1"><br><br>
    Confirm Password: <input type="password" name="pass2"><br><br>
    <input type ="submit" value="Register"> 
</form>  
{% endblock %}
