{% extends "master.html.twig" %}

{% block title %} Booking Success {% endblock %}

{% block content %}
    <p>You succesfully booked a travel from {{fromAirport}} to {{toAirport}}.</p>
    <a href="/">Click to continue</a>
{% endblock %}
