{% extends "master.html.twig" %}

{% block title %} Book Travel{% endblock %}

{% block content %}
    {% if user %}
        <h1>Hello {{user.name}} ({{user.passport}})</h1>
        <h1>Book a Travel</h1>
        {% if errorList %}
            <ul>
                {% for error in errorList %}
                    <li>{{error}}</li>
                    {% endfor %}   
            </ul>
        {% endif %}
        <p>You want to travel</p>
        <form method="post">
            <label>From:</label> <input type="text" name="fromAirport" value="{{v.fromAirport}}"><br><br>
            <label>To: </label> <input type="text" name="toAirport" value="{{v.toAirport}}"><br><br>
            <input type="submit" value="Book Now">
        </form>


    {% else %}
        <p>Only registered users can book a travel. Please <a href="/login">Login</a> or <a href="/register">Register</a> first</p>    
    {% endif %}
{% endblock %}