{% extends "master.html.twig" %}

{% block title %} Internal Error {% endblock %}

{% block content %}
<h1>500 - Internal error</h1>

<p>Our apologies. We've encountered an internal error in our system.
    Our technical team has been notified.</p>

<a href="/">Click here to continue</a>
{% endblock %}