{% extends "master.html.twig" %}

{% block title %} Travels{% endblock %}

{% block content %}
    {% if user %}
        <p>Hello {{user.name}} ({{user.passport}}). </p>
        <p>You may <a href="/book">Book</a> or <a href="/logout">Logout</a></p>
        {% if bookingList %}
            <p> Here are your bookings </p>
            <table>
                <tr>
                    <th>Booking ID</th>
                    <th>Departure Airport</th>
                    <th>Arrival Airport</th>
                </tr>

                {%for booking in bookingList %}
                    <tr>
                        <td>{{booking.ID}}</td><td>{{booking.fromAirport}}</td><td>{{booking.toAirport}}</td>
                    </tr>
                {% endfor %}

            </table>
        {% else %}
            <p>There are currently no bookings to view</p>  
        {% endif %}
        {% else %}
        <p>You are not logged in yet. You may <a href="/login">Login</a> or <a href="/register">Register</a></p>    
    {% endif %}
{% endblock %}