{% extends "master.html.twig" %}

{% block title %} Login Page{% endblock %}

{% block content %}
    <h1>Login</h1>
{% if loginFailed %}
    <p id="failed">
        Login Failed
    </p>
{% endif %}
    <form method="POST">
    Passport: <input type="text" name="passport"><br><br>
    Password: <input type="password" name="password"><br><br>
    <input type ="submit" value="Login"> 
</form>  
{% endblock %}
