<!DOCTYPE html>
<html>
    <head>
       
            <link rel="stylesheet" href="/styles.css" />
            <title>{% block title %}{% endblock %}</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="centerContent">
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
                &copy; Copyright 2016 by IPD8
        </div>
        </div>
    </body>
</html>