{% extends "master.html.twig" %}

{% block title %} Register User {% endblock %}

{% block content %}
    <h1>Register User</h1>
{% if errorList %}
    <ul>
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}   
    </ul>
{% endif %}
    <form method="POST">
        <label> Name:</label> <input type="text" name="name" value="{{v.name}}"><br><br>
        <label> Passport:</label> <input type="text" name="passport" value="{{v.passport}}"><br><br>
        <label>Password: </label> <input type="password" name="pass1"><br><br>
        <label>Confirm Password:</label> <input type="password" name="pass2"><br><br>
    <input type ="submit" value="Register"> 
</form>  
{% endblock %}
