body {
    background-color: #ffffcc;
    margin:0;
}
#centerContent {
    width: 800px;
    margin: 0 auto;
    background-color: white;
}
#content form label {
    width:75px;
    color: activeborder;
}
#footer{
    margin: 20 auto;
}