
{% extends "master.html.twig" %}

{% block title %} All Ads {% endblock %}

{% block content %}
<a href="/postad">Post a new ad</a>
{% if adList %}
<table border="1">
    <tr>
        <th>ID</th>
        <th>Message</th>
        <th>Price</th>
        <th>Email</th>  
        <th>Operations</th>               
    </tr>
   
        {%for ad in adList %}
             <tr>
            <td>{{ad.ID}}</td><td>{{ad.msg}}</td><td>{{ad.price}}</td><td>{{ad.contactEmail}}</td>
            <td><a href='/postad/{{ad.ID}}'>Edit Ad</a></td>
             </tr>
        {% endfor %}
       
    </table>
        {% else %}
            <p>There are curretly no ads to view</p>  
{% endif %}

{% endblock %}