{% extends "master.html.twig" %}

{% block title %} Post an Ad {% endblock %}

{% block content %}
    <h1>Post a new ad</h1>
    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}   
        </ul>
    {% endif %}
    <form method="post">
        Message: <textarea col=20 rows="4" name="msg">{{v.msg}}</textarea><br>
        Price: <input type="text" name="price" value="{{v.price}}"><br>
        Contact Email: <input type="email" name="contactEmail" value="{{v.contactEmail}}"><br>
        <input type="submit" value="Post ad">
    </form>


{% endblock %}