body {
    background-color: #ffffcc;
    margin:0;
    
}
#centerContent {
    width: 800px;
    margin: 0 auto;
    padding:20px;
    background-color: white;
    text-align: center;
}
#content {
    min-height: 600px;
}
label{
   display:inline-block;
   width:80px;
   font-weight: bold;
}
#footer {
    border-top:1px solid black;
    margin: 20px auto;
}
form{
    width: 70%;
    margin: auto;
    text-align: center;
}
input[type="submit"]{
    background-color: background;
    display: inline-block;
    width: 75px;
    margin: auto;
    color: white;
}
h1{
     text-align: center;
}
ul li,  #failed {
   color: red;
   width:50%;
   margin: auto;
   text-align: center;
   
}
table{
    width: 70%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}